<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/adminLayout.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="admin">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="station:${stationDetails}">
                    <td th:text="${station.address}"></td>
                    <td th:text="${station.email}"></td>
                    <td th:text="${station.phoneNumber}"></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>